!-- Xft settings -- !	  
xft.dpi:        96
xft.antialias:  true
xft.rgba:       rgb
xft.hinting:    true
xft.hintstyle:  hintslight

{% if laptop %}
URxvt*font: xft:deja vu sans mono:autohint=true:antialias=true:size=12
{% elif gar %}
URxvt*font: xft:deja vu sans mono:autohint=false:antialias=false:pixelsize=15
{% elif cluster %}
URxvt*font: xft:deja vu sans mono:autohint=false:antialias=true:pixelsize=15
{% endif %}

URxvt*scrollBar: false
Urxvt*secondaryScroll: true
URxvt*saveLines: 5000
URxvt*termName: xterm-256color
URxvt*borderLess:       false

URxvt*cursorColor: #DCDCCC
URxvt.intensityStyles: false

! Solarized
#define C_3 #b58900
#define C_9 #cb4b16
#define C_1 #dc322f
#define C_5 #d33682
#define C_13 #6c71c4
#define C_4 #268bd2
#define C_6 #2aa198
#define C_2 #859900
! Dark
#define Cd_8 #002b36
#define Cd_0 #073642
! #define Cd_0 #002b36
! #define Cd_8 #073642
#define Cd_10 #586e75
#define Cd_11 #657b83
#define Cd_12 #839496
#define Cd_14 #93a1a1
#define Cd_7 #eee8d5
#define Cd_15 #fdf6e3
!#define Cd_bg Cd_8
#define Cd_bg Cd_0
!#define Cd_bg #000000
#define Cd_fg Cd_12
! Light
#define Cl_8 #fdf6e3
#define Cl_0 #eee8d5
! #define Cl_0 #fdf6e3
! #define Cl_8 #eee8d5
#define Cl_10 #93a1a1
#define Cl_11 #839496
#define Cl_12 #657b83
#define Cl_14 #586e75
#define Cl_7 #073642
#define Cl_15 #002b36
!#define Cl_bg Cl_8
#define Cl_bg Cl_0
!#define Cl_bg #ffffff
#define Cl_fg Cl_12

! Tango original? color palette
#define Ct_bg #2e3436
#define Ct_fg #eeeeec
! URxvt*cursorColor: #8ae234
! foreground color for underline
URxvt*colorUL: #8ae234
! line color for underline
URxvt*underlineColor: #92659a
! black
#define Ct_0  #2E3436
#define Ct_8  #6E706B
! red
#define Ct_1  #CC0000
#define Ct_9  #EF2929
! green
#define Ct_2  #4E9A06
#define Ct_10 #8AE234
! yellow
#define Ct_3  #EDD400
#define Ct_11 #FCE94F
! blue
#define Ct_4  #3465A4
#define Ct_12 #729FCF
! magenta
#define Ct_5  #9265A4
#define Ct_13 #C19FBE
! cyan
#define Ct_6  #07C7CA
#define Ct_14 #63E9E9
! white
#define Ct_7  #D3D7CF
#define Ct_15 #EEEEEC

!! define guards if no ligh or dark theme is set !!

#ifndef Cl_bg
#define Cl_bg C_bg
#endif
#ifndef Cl_fg
#define Cl_fg C_fg
#endif
#ifndef Cl_0
#define Cl_0 C_0
#endif
#ifndef Cl_1
#define Cl_1 C_1
#endif
#ifndef Cl_2
#define Cl_2 C_2
#endif
#ifndef Cl_3
#define Cl_3 C_3
#endif
#ifndef Cl_4
#define Cl_4 C_4
#endif
#ifndef Cl_5
#define Cl_5 C_5
#endif
#ifndef Cl_6
#define Cl_6 C_6
#endif
#ifndef Cl_7
#define Cl_7 C_7
#endif
#ifndef Cl_8
#define Cl_8 C_8
#endif
#ifndef Cl_9
#define Cl_9 C_9
#endif
#ifndef Cl_10
#define Cl_10 C_10
#endif
#ifndef Cl_11
#define Cl_11 C_11
#endif
#ifndef Cl_12
#define Cl_12 C_12
#endif
#ifndef Cl_13
#define Cl_13 C_13
#endif
#ifndef Cl_14
#define Cl_14 C_14
#endif
#ifndef Cl_15
#define Cl_15 C_15
#endif

! dark colors: if not set exchange fg and bg
#ifndef Cd_bg
#define Cd_bg C_fg
#endif
#ifndef Cd_fg
#define Cd_fg C_bg
#endif
#ifndef Cd_0
#define Cd_0 C_0
#endif
#ifndef Cd_1
#define Cd_1 C_1
#endif
#ifndef Cd_2
#define Cd_2 C_2
#endif
#ifndef Cd_3
#define Cd_3 C_3
#endif
#ifndef Cd_4
#define Cd_4 C_4
#endif
#ifndef Cd_5
#define Cd_5 C_5
#endif
#ifndef Cd_6
#define Cd_6 C_6
#endif
#ifndef Cd_7
#define Cd_7 C_7
#endif
#ifndef Cd_8
#define Cd_8 C_8
#endif
#ifndef Cd_9
#define Cd_9 C_9
#endif
#ifndef Cd_10
#define Cd_10 C_10
#endif
#ifndef Cd_11
#define Cd_11 C_11
#endif
#ifndef Cd_12
#define Cd_12 C_12
#endif
#ifndef Cd_13
#define Cd_13 C_13
#endif
#ifndef Cd_14
#define Cd_14 C_14
#endif
#ifndef Cd_15
#define Cd_15 C_15
#endif


! Set colors using variables
URxvt*background: Cl_bg
URxvt*foreground: Cl_fg

! black
URxvt*color0:  Cl_0
URxvt*color8:  Cl_8
! red
URxvt*color1:  Cl_1
URxvt*color9:  Cl_9
! green
URxvt*color2:  Cl_2
URxvt*color10: Cl_10
! yellow
URxvt*color3:  Cl_3
URxvt*color11: Cl_3
! blue
URxvt*color4:  Cl_4
URxvt*color12: Cl_12
! purple
URxvt*color5:  Cl_5
URxvt*color13: Cl_13
! orange (replaces cyan)
URxvt*color6:  Cl_6
URxvt*color14: Cl_14
! white
URxvt*color7:  Cl_7
URxvt*color15: Cl_15

! escape sequences for keypresses
URxvt.keysym.M-C-l: command:\033]10;Cl_fg\007\033]11;Cl_bg\007\033]708;Cl_bg\007\033]4;0;Cl_0\007\033]4;1;Cl_1\007\033]4;2;Cl_2\007\033]4;3;Cl_3\007\033]4;4;Cl_4\007\033]4;5;Cl_5\007\033]4;6;Cl_6\007\033]4;7;Cl_7\007\033]4;8;Cl_8\007\033]4;9;Cl_9\007\033]4;10;Cl_10\007\033]4;11;Cl_11\007\033]4;12;Cl_12\007\033]4;13;Cl_13\007\033]4;14;Cl_14\007\033]4;15;Cl_15\007

URxvt.keysym.M-C-d: command:\033]10;Cd_fg\007\033]11;Cd_bg\007\033]708;Cd_bg\007\033]4;0;Cd_0\007\033]4;1;Cd_1\007\033]4;2;Cd_2\007\033]4;3;Cd_3\007\033]4;4;Cd_4\007\033]4;5;Cd_5\007\033]4;6;Cd_6\007\033]4;7;Cd_7\007\033]4;8;Cd_8\007\033]4;9;Cd_9\007\033]4;10;Cd_10\007\033]4;11;Cd_11\007\033]4;12;Cd_12\007\033]4;13;Cd_13\007\033]4;14;Cd_14\007\033]4;15;Cd_15\007

URxvt.keysym.M-C-t: command:\033]10;Ct_fg\007\033]11;Ct_bg\007\033]708;Ct_bg\007\033]4;0;Ct_0\007\033]4;1;Ct_1\007\033]4;2;Ct_2\007\033]4;3;Ct_3\007\033]4;4;Ct_4\007\033]4;5;Ct_5\007\033]4;6;Ct_6\007\033]4;7;Ct_7\007\033]4;8;Ct_8\007\033]4;9;Ct_9\007\033]4;10;Ct_10\007\033]4;11;Ct_11\007\033]4;12;Ct_12\007\033]4;13;Ct_13\007\033]4;14;Ct_14\007\033]4;15;Ct_15\007

!! #### END OF LINE #### !!