# Path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh

{% if gar %}
MYDIST=""
case $(cat /etc/issue) in
    *Ubuntu*)
        MYDIST="Ubuntu";;
    *Scientific*)
        MYDIST="SLC"
        dist_info="%{$fg_bold[red]%}(SLC)"
esac
{% endif %}

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
#ZSH_THEME="robbyrussell"
ZSH_THEME="mytheme"

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion. Case
# sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# The optional three formats: "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
ZSH_CUSTOM=~/.oh-my-zsh-custom

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.

# custom plugins (load first to have PATH set correctly)
{% if laptop %}
plugins=(fix-keypad laptopenv jira ssh-agent atlas)
{% elif gar %}
plugins=(fix-keypad garenv jira atlas)
{% elif cluster %}
plugins=(fix-keypad clusterenv)
{% endif %}
plugins+=(command-time)


{% if gar %}
# don't load tmux in SLC
if [[ "${MYDIST}" = "Ubuntu" ]]
then
    plugins+=(tmux)
fi
{% endif %}

# "official plugins"
{% if laptop %}
plugins+=(git emacs tmux autojump jsontools archlinux fzf)
{% elif gar %}
plugins+=(git tmux autojump jsontools fzf)
{% elif cluster %}
plugins+=(git emacs autojump tmux jsontools)
{% endif %}


# User configuration

{% if gar %}
# need to add autojump completion dir to fpath already here since completions
# are for some reason loaded earlier (earlier as the autojump scripts add fpath)
# in .oh-my-zsh
fpath=(/home/n/Nikolai.Hartmann/.autojump/functions $fpath)
{% endif %}

  # export PATH="/home/n/Nikolai.Hartmann/bin:/software/opt/trusty/x86_64/root/5.34.19/bin:/software/opt/trusty/x86_64/xrootd/3.2.0/bin:/home/n/Nikolai.Hartmann/.autojump/bin:/var/lib/gems/1.9.1/bin:/software/opt/noarch/Modules/1.147/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games"
# export MANPATH="/usr/local/man:$MANPATH"

source $ZSH/oh-my-zsh.sh

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# ssh
# export SSH_KEY_PATH="~/.ssh/dsa_id"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# i don't really use this
unsetopt AUTO_CD
